<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/travel">Travel</a></li>
      <li><a href="/travel-mb">Travel (mb)</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
  <div class="title">
      <h1>{{pageTitle}}</h1>
  </div>
</header>
