{{> pre}}

    {{> header}}

    I like to travel with my camera. Here are some places I've been.

	<div id="map_div"></div>

    {{> footer}}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/travel.js"></script>
  </body>
</html>
